div{
    border: solid 1px red;
}

#div1{
    position: static;
}

#div2{
    top: 30px;
    left: 20px;
    position: relative;
}

#div3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30,30,30, .5);
    z-index: 50;
}