*{
    padding: 0;
    margin: 0;
    border: solid 1px red;
}

ul{list-style-type: none;}

body{
    display: flex;
}

ul.menu{
    display: flex; 
    list-style-type: none;
    justify-content: space-between;
}

ul.menu>li{
    display: flex;
    flex-direction: column;
    padding: 6px;
}

ul.submenu{
    margin-top: 30px;
    display: none;
    position: absolute;
    z-index: 3;
}

ul.submenu>li{
    cursor: pointer;
}

ul.menu>li:hover{
    background-color: aqua;
}

ul.menu>li:hover>ul.submenu{
    display: block;
}
